<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/customs.css" | relative_url }}">

</head>
<body>

        <div style="text-align: center;">
            <header>
                <p>  ____________________________________________________________</p>
                <h1>                Documentation Boucovoiturage.fr             </h1>
                <p>  ____________________________________________________________</p>
            </header>
        </div>
    

    <div class="layout">
  <aside class="sidebar">
    <h2>Table des matières</h2>
    
    <nav>
      <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#fonctionnalites-principales">Fonctionnalités principales</a></li>
         <li> <a href="#structure-des-pages">Structure des pages : </a>
            <ul>
                <li><a href="#page-dinscription-et-de-connexion"> - Page d'inscription</a></li>
                <li><a href="#page-daccueil"> - Page d'accueil</a></li>
                <li><a href="#page-de-recherche">- Page de recherche</a></li>
                <li><a href="#profil-utilisateur">- Profil utilisateur</a></li>
                <li><a href="#page-de-réservation">- Page de réservation</a></li>
            </ul>
        </li>
        <li><a href="#processus-dinscription">Processus d'inscription</a></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
      <div style="text-align: center;">
        <img src="imgs/boucovoituragefr.png" alt="Boucovoiturage" width="50%">
    </div>


    {{ content }}
  </main>
</div>

    <footer>
        <p>Pied de page</p>
    </footer>
</body>
</html>
